@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


body{
    width: 100%;
    min-height: 100vh;
    background: pink url(imagens/fundo.jpg) center center / cover no-repeat fixed;
}

main{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imagens/tel.png) center center / contain no-repeat fixed;
    height: 600px;
    width: 500px;
}

#telefone iframe{
    position: relative;
    top: 5%;
    left: 25%;
    border-radius: 30px;
    width: 250px;
    height: 530px;
    overflow: hidden;
}

#redes-sociais a {
    display: block;
    text-align: right;
    padding: 10px;
}

#redes-sociais img{
    border-radius: 50%;
    width: 50px;
}

#redes-sociais img:hover{
    border: 2px solid rgb(255, 0, 119);
    border-radius: 50%;
    box-sizing: border-box;
    transform: rotate(20deg);
    transition: transform 0.3s;
    
}
