@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}


table{
    border-collapse: collapse;
    width: 400px;
}
caption{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

td, th{
    border: 1px solid black;
    padding: 5px;
}

col.cprof{
    background-color: rgb(155, 212, 212);
}

col.cgrupo{
    background-color: beige;
}