@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.151);
}

body > h1{
    text-align: center;
    
}

table{
    border-collapse: collapse;
    width: 500px;
    margin: auto;
    position: relative;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

thead, tfoot{
    background-color: rgb(102, 102, 102);
    color: white;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color:#4d4d4d ;
}

td.num{
    text-align: right;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: #64646483;
    color: #363636;
    border: 1px solid black;
}

tbody > tr:nth-child(odd){
    background-color: rgb(155, 155, 155);
}

tbody > tr:nth-child(even){
    background-color: rgb(214, 214, 214);
}

