@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url(./fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(212, 255, 157);
    font-family: Arial, Helvetica, sans-serif;
}


header{
    background-image: linear-gradient(to bottom, #00ff62, #00d123, #005f10);
    padding: 100px;
    margin: 0px;
    block-size: 140px;
}

header > h1{ 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 2px black;
    padding: 1px;
    font-weight: bolder;
}

header > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 2px black;
    padding: 20px;
}

nav {
    display: block;
    margin-left: 10px;
    padding: 13px;
}

nav > a{
    text-align: left;
    color: rgb(107, 236, 157);
    text-decoration: none;
    margin: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}

nav > a:hover{
    color: #00580f;
    background-color: #91e9a1;
    border-radius: 10px;
    padding:15px;
}


main{
    background-color: white;
    margin: 50px;
    padding: 30px;
    
}

#p1 > h1{
    font-family: 'android', Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    color: #00530e;
}

.negrito{
    font-weight: bold;
    color: #00530e;
}


#p2 > h2{
    font-family: 'android', Arial, Helvetica, sans-serif;
    font-weight: light;
    font-size: 30px;
    background-image: linear-gradient(to right, #98ff98be, #9fff9f94, #daffda49);
    padding-left:10px;
    color: #007c15;
}

.link2{
    color: #00530e;
    font-weight: bold;
    text-decoration: none;
}

.link2:hover{
    font-size: 18px;
    text-decoration: underline;
}

#p3 > h2{
    font-family: 'android', Arial, Helvetica, sans-serif;
    font-weight: light;
    font-size: 30px;
    background-image: linear-gradient(to right, #98ff98be, #9fff9f94, #daffda49);
    padding-left:10px;
    color: #007c15;
}

aisde > h2{
    color: white;
    background-color: #00b31e;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 15px;
    font-size: 20px;
}

aside {
    background-color: #c1ffcc;
    border-radius: 6px;
    margin: auto;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.267);
}

aside > p {
    text-align: justify;
    padding: 20px;
    margin: auto;
}

#p5{
    margin: auto;
    padding: 5px;
}

footer{
    background-color: #00530e;
    padding: 10px;
    margin: 0px;
}
footer > p {
    padding: 0px;
    margin: 0px;
    color: white;
    text-align: center;
}

