@charset "UTF-8";

:root{
    --cor1: #304d69;
    --cor2: #bbdeff;
    --cor3: #c6e3ff;
    --cor4: #81c2ff;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient( to top, var(--cor1), var(--cor4), var(--cor3) );
    }

    section{
        width: 80%;
        height: 810px;
    }

    section > div#imagem{
        float: right;
        width: 35%;
        height: 100%;
        box-shadow: 1px 1px 4px var(--cor1);
    }

    form > div.cadastro > h2{
        padding-top: 15px;
        margin-bottom: 10px ;
        font-size: 2.3em;
        margin: auto;
    }

    form > div.cadastro > p{
        text-align: center;
        margin-bottom: 20px;
    }

    form > div.cadastro label{
        padding: 15px;
        border-radius: 10px;
        transform: translateY(-2px);
        
    }

    form > div.cadastro input{
        width: 38%;
        height: 45px;
        border-radius: 10px;
        border: 3px solid var(--cor1);
        margin-left: -9px;
        transform: translateY(-2px);
    }

    form div#cadastrar > input{
        width: 50%;
    }

}

@media screen and (min-width: 992px){
     body{
        background-image: linear-gradient( to top, var(--cor1), var(--cor4), var(--cor3) );
    }

    section{
        width: 80%;
        height: 810px;
    }

    section > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    div#formulario > form > div.cadastro {
        float: right;
        width:calc(100% - 35%)
    }

    div#formulario > form > div.cadastro > h2{
        font-size: 3em;
    }

    div#formulario > form > div.cadastro > p{
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }


    div#formulario > form > div.cadastro label{
        font-size: 18px;
        padding: 12.5px;
        border-radius: 10px;

        transform: translateY(-2px);
    }

    div#formulario > form > div.cadastro  input{
        width: 65%;
        height: 42px;
        border-radius: 10px;
        border: 3px solid var(--cor1);
        margin-left: -8px;

        transform: translateY( -2px);

    }


    div#formulario > form  div#borda{
        float: left;
        width: calc(100% - 35%);
    }

    div#formulario > form div#cadastrar{
        float: right;
        width: calc(85% - 15%);
        margin-top: 30px;

    }

    section div#adicionais{
        float: right;
        width: calc(100% - 30%);
        margin-top: 25px;


    

        
    }



}